<div class="card">

  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="<%= tenant.tenant_logo_url %>" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= tenant.tenant_name %></p>
        <p class="subtitle is-6"><%= tenant.tenant_tagline %></p>
      </div>
    </div>

    <div class="content">
      <%= tenant.tenant_description %>
      <br>
      Next Event: <b><time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time></b>
    </div>
  </div>

  <footer class="card-footer">
    <%= link_to 'Show', tenant_path(tenant), class: "card-footer-item" %>
    <%# link_to 'Edit', edit_tenant_path(tenant), class: "card-footer-item" %>
    <%# link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
  </footer>
</div>
