<h1 class="title"><%= tenant.tenant_name %></h1>

<div class="columns is-multiline">
<% tenant.spaces.each do |space| %>
  <div class="column is-half-desktop is-one-third-fullhd is-centered">
    <p class="title is-4"><%= link_to "#{space.space_name}", tenant_space_path(id: space.id, tenant_id: tenant.id), class: "card-footer-item" %></p>
    <%= render 'spaces/calendar_mini', space: space, tenant: tenant %>
  </div>
<% end %>
</div>

<%= link_to 'Edit', edit_tenant_path(tenant) %> |
<%= link_to 'Back', tenants_path %>
