<p hidden id='tenant_<%= tenant.id %>_spaces_index' class='pageName'>Tenant-<%= tenant.id %> Spaces Index</p>

<div class="container">

  <p class="title is-3">
    <%= tenant.tenant_name %>
  </p>
  <p class="subtitle is-5">
    <%= tenant.tenant_tagline %>
  </p>
  <p class="subtitle is-6">
    <%= tenant.tenant_description %>
  </p>

  <div class="columns is-centered is-multiline">
  <% spaces.each do |space| %>
    <div class="column is-full-mobile is-half-tablet is-one-third-widescreen is-centered">
      <p class="title is-6">
        <%= link_to space.space_name,
                    tenant_space_path(id: space.id, tenant_id: tenant.id),
                    class: "card-footer-item" %>
      </p>
      <%= render 'calendar_mini', user: user, space: space, tenant: tenant, calendar: calendar,
                                  prev_month_path: tenant_spaces_path( tenant_id: tenant.id,
                                                                      date: calendar.prev_month_string),
                                  next_month_path: tenant_spaces_path( tenant_id: tenant.id,
                                                                      date: calendar.next_month_string)  %>
    </div>
  <% end %>
  </div>

</div>
