<p hidden id='edit-event-<%= event.id %>' class='pageName'>Edit Event <%= event.id %></p>

<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
