  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event %>
    <div class="control">
      <%= form.collection_select :event_id,
                tenant.events, :id, :event_name, {include_blank: 'Please Select'},
                {class: 'select is-rounded'} %>
      <%= error_message_on(form.object, :event_id) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :host %>
    <div class="control">
      <%= form.text_field :host, placeholder: "Host Name (Optional)", class: "input" %>
      <%= error_message_on(form.object, :host) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <div class="control">
      <%= form.collection_select :start_time_slot_id,
                space.allowed_time_slots, :id, :time_slot_name, {include_blank: 'Please Select'},
                {class: 'select is-primary'} %>
      <%= error_message_on(form.object, :space_id) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <div class="control">
      <%= form.date_field :date, class: "input" %>
      <%= error_message_on(form.object, :date) %>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
    
      <div class="field">
        <%= form.label :end_time %>
        <div class="control">
          <%= form.collection_select :end_time_slot_id,
                    space.allowed_time_slots, :id, :time_slot_name, {include_blank: 'Please Select'},
                    {class: 'select is-primary'} %>
          <%= error_message_on(form.object, :space_id) %>
        </div>
      </div>

      <div class="field">
        <%= form.label :end_date %>
        <div class="control">
          <%= form.date_field :date, class: "input" %>
          <%= error_message_on(form.object, :date) %>
        </div>
      </div>

    </div>
  </div>

  <div class="field">
      <%= form.label :space %>
    <div class="control">
      <%= form.collection_select :space_id,
                tenant.spaces, :id, :space_name, {},
                {class: 'select'} %>
      <%= error_message_on(form.object, :space_id) %>
    </div>
  </div>

  <%# form.button("Save", class: "button") %>
  <%= form.submit("Save", class: "button is-info is-outlined is-light") %>
  <%# button_to "Submit", { action: "create" }, remote: true, class: "button" %>
  <%= link_to 'Back', tenant_path(tenant), class: 'button is-danger is-outlined' %>
