<!DOCTYPE html>
<html>
  <head>
    <title>SharedSpaces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/litera/bulmaswatch.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body style="background-color:AliceBlue;">
    <p class="notice" id="notice"><%= notice %></p>
    <p class="alert"  id="alert"><%= alert %></p>

    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 id="title" class="navbar-item">
            SharedSpace
          </h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            Documentation
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container is-fluid">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </section>

    <footer class="footer is-light">
      <div class="container">
        Copyright © 2020 CalendarCommons. All rights reserved.
      </div>
    </footer>

    <script type="text/javascript">
      'use strict';

      // https://versions.bulma.io/0.7.0/documentation/components/navbar/

      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>

    <script type="text/javascript">
      'use strict';

      // https://siongui.github.io/2018/02/11/bulma-modal-with-javascript/

      document.addEventListener('DOMContentLoaded', function () {

        // Modals

        var rootEl = document.documentElement;
        var $modals = getAll('.modal');
        var $modalButtons = getAll('.modal-button');
        var $modalCloses = getAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button');

        if ($modalButtons.length > 0) {
          $modalButtons.forEach(function ($el) {
            $el.addEventListener('click', function () {
              var target = $el.dataset.target;
              var $target = document.getElementById(target);
              rootEl.classList.add('is-clipped');
              $target.classList.add('is-active');
            });
          });
        }

        if ($modalCloses.length > 0) {
          $modalCloses.forEach(function ($el) {
            $el.addEventListener('click', function () {
              closeModals();
            });
          });
        }

        document.addEventListener('keydown', function (event) {
          var e = event || window.event;
          if (e.keyCode === 27) {
            closeModals();
          }
        });

        function closeModals() {
          rootEl.classList.remove('is-clipped');
          $modals.forEach(function ($el) {
            $el.classList.remove('is-active');
          });
        }

        // Functions

        function getAll(selector) {
          return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
        }

      });
    </script>

  </body>
</html>
